<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--<typeAlias alias="inetTypeHandler" type="InetAddressTypeHandler"/>-->
        <package name="star16m.bootsample.core.resource.entity"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler jdbcType="OTHER" handler="star16m.bootsample.web.common.typehandler.InetAddressTypeHandler"/>
    </typeHandlers>
    <mappers>
        <!--<mapper resource="mapper/team.xml"/>-->
    </mappers>
</configuration>